@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mukta:wght@200&display=swap');

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}
.contentTitle{
    font-size: 40px;
    font-weight: bolder;
    font-family:  sans-serif;
}
.content__image{
    width: 30vw;
    height: 35vh;
}

.content__text{
    width: 30vw;
    text-align: justify;
    font-size: 22px;
    margin-top: 20px;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
}
.content__profile{
    display: flex;
    align-items: center;
    width: 13vw;
    justify-content: space-between;
}
.profileIcon{
    width: 80px;
    height: 80px;
}
.iconft{
    margin-left: 10px;
    border-radius: 50%;
}
.ftpro{
    display: none;
}
.profile2{
    justify-content: flex-start;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
    width: 30vw;
    margin: 20px 0;
    padding: 20px;
}
.content__user{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 30px;
    width: 30vw;
}
.icons{
    width: 150px;
    height: 40px;
    opacity: 0.2;
}

h5{
    color: gray;
    margin: 0;
}
.userName{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mukta';
    

}
.userName>div{
    font-size: 20px;
    font-weight:bold ;
}
.userName2>div{
    font-size: 20px;
    font-weight:bold ;
}
.userName2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    height: 10vh;
    font-family: 'Mukta';

}
.display{
    margin: 20px 0px 0px;
    display: flex;
    justify-content: space-around;
    width: 10vw;
   
}
.display>h3{
    color: gray;
}
.clapping{
    width: 50px;
    height: 50px;
}
.uptop{
    float:left ;
    position: fixed;
    top: 300px;
    left: 200px;
    
}


.contentMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer{
    width: 98.5vw;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    font-family: 'Mukta';
    z-index: 1;
}
.content__footer{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.content__footer > h1{
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(177, 177, 177);
    width: 86vw;
}

.footer__elements{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0;
}
.content__images{
    width: 250px;
    height: 250px;
}
.content__heading{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.content__Title{
    font-size: 0.9;
    margin: 10px 0;
   width: 250px;
   font-weight: bold;
   font-family: "Montserrat";
}

.contentHeader{
    width: 98vw;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 2px 2px gainsboro;
}
.contentHeadtitle{
    font-size: 40px;
    padding: 10px 0px 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
    color: black;
}
.content__The{
    font-size: 20px;
    margin-right: 8px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform:rotate(-180deg)
}
.getStarted{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    border: 3px solid #03A87C;
    color: #03A87C;
    box-sizing: border-box;
    padding: 10px;
    height: 7vh;
}
.back{
    width: 10vw;
    height: 5vh;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid red;
    background-color: white;
    color: red;
    border-radius: 20px;
    position: relative;
    left: 10vw;
    margin-bottom: 20px;

}
.back:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}

.footer__3Elements{
    background-color: #00000008;
}
.fticon{
    width: 12vw;
    display: flex;
    justify-content: space-between;
}



@media only screen and (min-width:350px) and (max-width:540px){
    .contentHeader{
    width: 99vw;
    position: sticky;
    top: 0px;
    justify-content:space-between;
    border-bottom: 2px solid gainsboro;
    background-color: white;
    z-index: 1;
    box-shadow: 1px 1px 3px 1px gainsboro;
    }
    .content{
        align-items: flex-start;
        width: 95vw;
    }
    .content__image{
        width:95vw;
    }
    .content__text{
        width: 95vw;
    }
    .uptop{
        display: none;
    }
   
   .display{
    width: 100px;
   }
   .content__user{
    width: 90vw;
    display: block;
   }
   .content__profile{
    margin-top: 20px;
    width: 50vw;
   }
   .profile2{
    width: 87vw;
   }
   .footer{
    flex-direction: column;
   }
   .footer__elements{
    margin: 0;
    flex-direction: column;
   }
   .content__footer{
    width: 99vw;
   }
   .content__footer > h1{
    width: 98vw;
   }
   .content__images{
    width: 100px;
    height: 100px;
   }
   .footer__3Elements{
    display: flex;
    justify-content: space-between;
    width: 97vw;
   }
   .footer__3Elements>div{
    display: none;
   }
   .back{
    width: 40vw;
    left: 30vw;

   }
   .back:hover{
    background-color: red;
    color: white;
    
}
.fticon{
    width: 70vw;
}


   
}